/* You can add global styles to this file, and also import other style files */

$color-body: #1abc9c;

body {
    background-color: $color-body;
    font-size: 16px;
    background-image:url(https://media.giphy.com/media/xTcf1bLx13s88JXlrG/giphy.gif);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}