/* You can add global styles to this file, and also import other style files */

$color-body: #1abc9c;

body {
    background-color: $color-body;
    font-size: 16px;
    background-image:url(https://media.giphy.com/media/ygAaR0n5RsyAM/giphy.gif);
    background-repeat:no-repeat;
    width: 100vh;
    height: 100vh;
}