<div class="flex-wrap">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
                <p>{{ home_resumo?.nome }}</p>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <p>{{ home_resumo?.email }}</p>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <p style="text-overflow: ellipsis">{{ home_resumo?.senha }}</p>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <p>{{session?.token}}</p>
            </div>
        </div>
    </div>
</div>





