.flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    text-align: center;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
}